<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark no-padding">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-pills mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="css-test" routerLinkActive="active">CSS Fader</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="svg-test" routerLinkActive="active">SVG Fader</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="canvas-test" routerLinkActive="active">Canvas Fader</a></li>
      </ul>
    </div>
  </nav>
  <div class="form-row">
    <div class="col-2">
      <label>Faders
        <input type="number" class="form-control" [(ngModel)]="faderCount">
      </label>
    </div>
    <div class="col-2">
      <label>Samples/min
        <input type="number" class="form-control" [(ngModel)]="sampleRate">
      </label>
    </div>
    <div class="btn-group pads">
      <button class="btn btn-primary" (click)="onStop()"><i class="fa fa-stop"></i></button>
      <button class="btn btn-primary" (click)="onStart()"><i class="fa fa-play"></i></button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>