<div class="card">
  <div class="card-header">
    SVG Fader Test
  </div>
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col-md-1 pads" *ngFor="let fader of faders">
        <span class="text-nowrap">{{fader.caption}}</span>
        <svg width="100%" height="16px" class="no-gutters">
          <rect [attr.width]="fader.value$" height="16px" style="fill: #00a7e7;" />
          <rect [attr.x]="fader.value$"  [attr.width]="fader.tail$" height="16px" style="fill: #6e6e6e;" />
        </svg>
      </div>
    </div>
  </div>
</div>